
<div class="card">
    <img src="../assets/logo.png" class="card-img-top" >
    <div class="card-body">
        <h5 class="card-title">About us</h5>
        <p class="card-text"> We a small team want to make subtitles it's make videos more accessible to a wider audience,including
        foreign-language speakers, 
        hard-of-hearing individuals,and anyone who can’t watch a video with sound.They also help improve engagement and
        boost SEO for content producers 
          Even though subtitles are common and familiar, not a lot of people understand what goes into creating high-quality
        subtitles for a video. But if you create video content and want to keep your subtitles from being ineffective, it’s good
        to understand both the art and the science behind them and how to make the best subtitles.        
    </p>
        <a href="/home" class="btn">Try</a>
    </div>
</div>
<div class="col-sm-8">
<div class="center">
    <div class="property-card">
    
            <img src="../assets/me.jpg"  class="property-image"> 
                <div class="property-image-title">
            </div>
   
        <div class="property-description">
            <h5> Project organizer </h5><br>
            <p>" For other people , every problem has solutions but for me every solution has problems "</p>
        </div>
        <a href="#">
            <div class="property-social-icons">

            </div>
        </a>
    </div>
</div>
<br>
<br>


