.card{
    left: 60%;
    width: 35rem;
    padding: 5rem;
    text-align: left;
    background-color: #621cd224;
  }
  
  /* Bordered form */
  form {
    border: 3px solid #b84242;
  }
  /* Set a style for all login*/
  .img-login{
    float: center;
    width: 200px;
  }
  div.a {
        text-align: center;
        font-size : xx-large;
        color: rgb(17, 16, 16);
        font-style : italic;;
      }
    
  //birthday
  .birthday{
    text-align: left;
  }
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #3a2dcd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  //pic for ps
  .img{
    position: absolute;
    left: 200px;
    top: 900px;
    width: 25%;
  }
  //video
  .video{    
    position: absolute;
    box-sizing: border-box;
    left: 70px;
    top: 200px;
    width: 50%;
  }

  

  